.title h1{
    color: hsl(198deg 76% 50%);
}
.filtri{
    background-color: hsl(198deg 76% 50%);
}
.filtri p{
    color: white;
}
.icon-section{
    background-color: hsl(0deg 0% 87%);
}
#select{
    font-size: 12px;
}
.user{
    color:hsl(304deg 75% 31%);
}
.animal{
   color:hsl(237deg 100% 50%);
}
.vegetable{
    color:hsl(38deg 100% 50%);
}